RewriteEngine On 
RewriteCond %{SERVER_PORT} 80
RewriteCond %{HTTP_HOST} ^(www\.)?scaliseprep\.com
RewriteCond %{HTTP_HOST} scaliseprep\.com
RewriteRule ^(.*)$ https://www.scaliseprep.com/$1 [R,L]

AddType video/ogg .ogv
AddType video/mp4 .mp4
AddType video/webm .webm